@{
    Layout = "_Layout";
}
<div id="cartContainer">
    <h3>Giỏ hàng của bạn</h3>
    <table id="cartTable">
        <thead>
            <tr>
                <th>Mã Sân</th>
                <th>Ngày Đặt Sân</th>
                <th>Giờ Đặt</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody id="cartItems">
            <!-- Sản phẩm trong giỏ hàng sẽ được thêm vào đây -->
        </tbody>
    </table>
    <button id="clearCartButton" class="btn clear-cart">Xóa tất cả</button>
</div>

<script src="~/js/cart.js"></script>
