@{
    Layout = "_Layout";
}
<div id="cartContainer" class="cart-container">
    <h3 class="cart-title">Giỏ hàng của bạn</h3>
    <table id="cartTable" class="cart-table">
        <thead>
            <tr>
                <th>Mã sân bóng</th>
                <th>Tên sân bóng</th>
                <th>Địa chỉ</th>
                <th>Ngày Đặt Sân</th>
                <th>Giờ bắt đầu</th>
                <th>Giờ kết thúc</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody id="cartItems">
            <!-- Sản phẩm trong giỏ hàng sẽ được thêm vào đây -->
        </tbody>
    </table>
    <button id="clearCartButton" class="btn btn-success clear-cart">Xóa tất cả</button>
</div>

<link rel="stylesheet" href="~/css/cart.css" />
<script src="~/js/cart.js"></script>
